.tabs-block{
.container{
	padding: 6rem 10rem 5rem;
.tab{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
.tablinks{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 1.2rem 4.5rem;
	border: 0.1rem solid #f7f7f7;
	background: transparent;
	cursor: pointer;
	color: #38a8dd;
	font: 1.8rem $text-bold;
svg{
	margin-right: 1.5rem;
	fill: #38a8dd;
	max-width: 28px;
}
}
.active{
	background: #e6f1f5;
	border: none;
	color: #000;
svg{
	fill: #000;
}
}	
}
.tabcontent{
.list{
	border-top: 1.2rem solid #e6f1f5;
	border-bottom: 1.2rem solid #e6f1f5;
	border-left: 0.1rem solid #e6f1f5;
	border-right: 0.1rem solid #e6f1f5;
	width: 100%;
li{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 0.2rem solid #e6f1f5;
&:nth-child(even){
	background: #f7fafb;
}
span{
	padding: 2rem;
	font-size: 1.4rem;
	display: inline-block;
&:first-child{
	-webkit-box-flex: 1;
	    -ms-flex: 1 18%;
	        flex: 1 18%;
	border-right: 0.1rem solid #e6f1f5;
}
&:last-child{
	-webkit-box-flex: 1;
	    -ms-flex: 1 82%;
	        flex: 1 82%;
	font-family: $text-bold;
}
}
}
}
}
.state{
	line-height: 2rem;
.list{
li{
	display: block;
	padding: 1.5rem;
&:nth-child(even){
	background: #fff;
}
ol{
	padding-left: 2.5rem;
li{
	list-style: decimal;
	display: list-item;
	font-size: 1.4rem;
	border-bottom: none;
}
}
}
}
h3{
	font: 1.6rem $text-bold;
	padding: 1.5rem 0;
}
p{
	font-size: 1.4rem;
}
}
}
}
@media screen and (max-width: 992px){
.tabs-block .container{
	padding: 5rem 5rem;
}
}
@media screen and (max-width: 768px){
.tabs-block .container{
	padding: 5rem 1.5rem;
}	
}
@media screen and (max-width: 670px){
.tabs-block .container{
.tab .tablinks{
	padding: 1.2rem 1.5rem;
img{
	margin-right: 1rem;
}
}
.tabcontent .list li{
span{
&:first-child{
-webkit-box-flex: 1;
    -ms-flex: 1 40%;
        flex: 1 40%;
}
&:last-child{
	-webkit-box-flex: 1;
	    -ms-flex: 1 60%;
	        flex: 1 60%;
}
}
}	
}
}

