@import "fonts";
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
              box-sizing: border-box;
}
:root{
	font-size: 10px;
}
@media screen and (max-width: 576px){
:root{
	font-size: 8px;
}
}
body{
	overflow-x: hidden;
}
button,
select,
textarea,
button[type=submit],
input[type=text],
input[type=submit]{
      -webkit-appearance: none;
    	-moz-appearance: none;
    		appearance: none;
     border-radius: 0;
     border: none;
}
.wrapper{
	min-width: 320px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: $text;	
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
h1, 
h2,
h3,
h4{
	font-weight: normal;
}
.container{
	margin: 0 auto;
	max-width: 1920px;
	width: 100%;
}
.d-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.bth{
	display: inline-block;
	border-radius: 2.1rem;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
	word-spacing: nowrap;
	text-transform: uppercase;
	font: 1.4rem $text-bold;
}
@import "header";
@import "tabs";
@import "transcript";
@import "footer";


@import "header-two";
@import "review";


@import "linkdivision";